body.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .table {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .btn-primary {
    background-color: #333;
    border-color: #444;
}